@import "tailwindcss";

@theme {
  --color-c-dark-blue: #020618;
  --color-c-gray: #9ca3af;
  --radius-c-medium: 10px;
}

body {
  background-color: #F5F7F9;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
